@use '../helpers' as *;

.advantage__card {

    display: grid;
    row-gap: rem(30);

    @include laptop {
        row-gap: rem(20);
    }

    @include mobile {
        row-gap: rem(14);
    }

    &-image {
        @include laptop {
            width: rem(40);
        }

        @include mobile {
            width: rem(30);
        }
    }

    &-link {
        display: grid;
        row-gap: rem(4);
    }

    &-details {
        @include fluid-text(20, 14);

        font-family: var(--font-family-accent);
        color: var(--color-gray-60);
    }
}