@use '../helpers' as *;

.badge {
    display: inline-flex;
    padding: fluid(4, 2) fluid(14, 10);
    color: var(--color-light);
    font-size: rem(16);
    border-radius: rem(6);
    border: rem(1) solid transparent; // место под рамку
// сперва идет внутренний фон эл-та, если указать 2 одинаковых цвета в линейном градиенте 
// по сути тоже что и background-color. 2 градиент под рамку
    background: 
    linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
    var(--gradient) border-box;
    

    @include laptop {
        border-radius: rem(4);
        font-size: rem(14);
    }
}