@use '../helpers' as *;

.contacts-card {
    display: grid;
    row-gap: fluid(50, 20);

    &__title {
        font-family: var(--font-family-base);
        font-weight: 500;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
        
        &--link {
          align-items: start;
        }

        @include laptop {
            row-gap: rem(10);
        }

        @include mobile {
            padding-left: rem(50);
        }
    }

    &__link {
        padding: rem(18) rem(24);

        @include laptop {
            padding: rem(14) rem(20);
        }
    }
}