@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
  };
// функция которую мы запустим через миксин fluid-text и вычислению минимального, максимального и рекомендуемого размера шрифта
  @function fluid($max: 48, $min: 16) {
// ширина вьюпорта на десктопе и мобилке
  $maxViewportWidth: 1920;
  $minViewportWidth: 390;
// пересчет в rem с помощью ф-ции div через встроенный в sass пакет math
  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);
// вычисление насколько быстро шрифт будет расти при увеличении вьюпорта
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;
// минимальный, максимальный и рекумендуемый (динамически меняющийся от ширины вьюпорта) размер шрифта
  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}
